@media all and (max-width : 720px) {
    .canvas-container {
        width: 280px;
        height: 280px;
    }
    .logo {
        width: 70px;
        height: 14px;
    }
    .popup-title-bar {
        width: 30vw;
        padding-left: 2vw;
        display: flex;
        justify-content: start;
        margin-bottom: 2vh;
    }
    .popup-arrow-bar {
        padding-left: 0vw;
    }
    .popup-title{
        display: flex;
    }
    .popup-header {
        display: flex;
        border-bottom: 1px solid #FFF;
        padding-top: 2vh;
    }
    .popup-menu-header {
        display: flex;
        justify-content: center;
        width: 50px;
    }
    .popup-menu-bar {
        display: flex;
        align-items: flex-end; 
    }
    .popup-menu {
        color: #FFF;
        padding-left: 2vw;
        width: 24vw;
    }

    ul {
        padding-inline-start: 0;
    }
    li{
        font-size: 0.7rem;
        list-style: none;
        font-weight: 300;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-bottom: 0.6px solid #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menu1, #menu2, #menu3 {
        display: none;
    }
    #menu1-mobile, #menu2-mobile, #menu3-mobile {
        display: flex;
    }


    li:hover {
        background-color: rgba(255, 255, 255,0.1);
    }

    .popup-content {
        flex-direction: column;
    } 
    .mid-container {
        justify-content: flex-start;
        width: 75vw;
    }
    .left-container, .right-container {
        display: flex;
        color: white;
        font-size: 2rem;
        align-items: center;
        padding-left: 3vw;
        padding-right: 3vw; 
        /* justify-content:space-around; */
    }
    .popup-close {
        width: 12px;
    }
    .arrow-left, .arrow-right {
        width: 12px;
    }
    .icon-data {
        width: 40px;
        padding-right: 5px;
    }
    .icon-image {
        width: 48px;
        padding-right: 10px;
    }
}

@media all and (min-width : 721px){
    .canvas-container {
        width: 700px;
    }
    .logo {
        width: 150.28px;
        height: 31.85px;
    }
    
    .popup-title-bar {
        width: 160px;
        display: flex;
        justify-content: start;
        padding-left: 20px;
        margin-bottom: 2vh;
    }
    .popup-menu {
        padding-right: 50px;
        color: #FFF;
        text-align: center;
        width: 10vw;
    }
    .popup-header {
        display: flex;
        border-bottom: 1px solid #FFF;
        padding-top: 3vh;
        position: relative;
    }
    .popup-menu-header {
        display: flex;
        width: 80px;
    }
    .popup-menu-bar {
        display: flex;
        align-items: flex-end; 
        width: 60vw; 
    }
    .popup-arrow-bar {
        padding-left: 96px;
    }
    ul {
        width: 180px;
        padding-top: 5vh;
        padding-inline-start: 0;
        /* display: flex;
        flex-direction: column; */
    }
    li{
        font-size: 0.7rem;
        text-align: left;
        text-decoration: none;
        list-style: none;
        font-weight: 300;
        padding-left: 30px;
        padding-right: 3vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-bottom: 0.6px solid #FFF;
        display: flex;
        align-items: center;
    }
    #menu1{
        width:84px;
    }
    #menu2, #menu3{
        width:104px;
    }
    #menu1, #menu2, #menu3 {
        display: flex;
    }
    #menu1-mobile, #menu2-mobile, #menu3-mobile {
        display: none;
    }
    li:hover {
        background-color: rgba(255, 255, 255,0.1);
    }
    .mid-container {
        justify-content: flex-start;
        padding-top: 3vh;
        width: 58vw;
    }
    .left-container, .right-container {
        display: flex;
        color: white;
        font-size: 2rem;
        align-items: center;
        padding-left: 42px;
        padding-right: 42px; 
        /* justify-content:space-around; */
    }
    .left-container {
        position: relative;
        top: 50%;
    }
    .right-container {
        position: absolute;
        right: 0px;
        top: 50%;
    }
    .popup-close {
        padding-top: 1vh;
        position: absolute;
        width: 18px;
        right: 30px;
    }
    .arrow-left, .arrow-right {
        width: 12px;
    }

    .icon-data {
        width: 54px;
        padding-right: 10px;
    }
    .icon-image {
        width: 72px;
        padding-right: 10px;
    }
}

body {
    background-color: #FFFFFF;
    font-family:'NanumSquare',san-serif;
    line-height:1.5;
}


#code {
    padding-top: 20px;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: left;
}
canvas {
    background-color: #001338;
    background-size: 100%;
}

.container {
    display: flex;
    justify-items: flex-end;
}

.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}