body {
    background-color: #001338;
    font-family:'NanumSquare',san-serif;
    line-height:1.5;
}
#code {
    padding-top: 20px;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: left;
}
canvas {
    background-color: #001338;
    background-size: 100%;
}

.container {
    display: flex;
    justify-items: flex-end;
}

.mid-container {
    justify-content: center;
    width: 40vw;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;

}

.left-container, .right-container {
    display: flex;
    color: white;
    font-size: 2rem;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw; 
    justify-content:space-around;
}

.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}